<p id="notice"><%= notice %></p>

<h1>Employees</h1>
<ol>
<% Employee.heads.each do |employee| %>
<li><%=  nested_employees employee %></li>
<% end %>
<ol>
<br>

<button class="btn btn-default">
  <%= link_to 'New Employee', new_employee_path %>
</button>