<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
              <li><a href="/employees">Team Home</a></li>
              <li><a href="/tree">Organisation Tree</a></li>
      </ul>
    </nav>
  </div>
</header>